@import 'modules/_var';
@import 'modules/_fonts';
@import 'modules/_header';
@import 'modules/_footer';



main {width: 100%;}

#hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background-image: url(/images/DSC_2371.JPG);
    background-repeat: no-repeat;
    background-size: auto 700px;
    background-position: center center;
    background-position-x: 45%;

    #gradient{
        width: 100%;
        height: inherit;
        background: linear-gradient(-90deg, rgba(173, 80, 250, 0.384) 0,rgba(100, 0, 230, 0.295) 40%,rgba(38, 0, 177, 0.637) 100%);
    }

    #hero-text{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 200px;
        margin-left: 20px;
        color: white;

        h1 {font-size: 2.2em; text-transform: uppercase; letter-spacing: 0.1em;}
        h3 {font-size: 1.3em; padding: 10px 0;}
        p {font-size: 0.8em; padding: 5px 0; letter-spacing: 1.1px;}

        button {
            margin-top: 15px;
            width: 38%;
            max-width: 150px;
            padding: 8px 0 6px 0;
            background:linear-gradient(to bottom, #fce388 5%, #ffc600 100%);
            background-color:#fce388;
            border-radius:20px;
            border:1px solid #ffc600;
            cursor:pointer;
            color: black;
            font-family:Arial;
            font-size:1em;
            font-weight:bold;
            text-decoration:none;

            &:hover {background:linear-gradient(to bottom,  #ffc600 5%, #fce388 100%);}
         }

    }
}

#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 35px;

    h2{text-align:center; font-size: 2.2em; text-transform: uppercase; letter-spacing: 0.1em; width:100%;}

    #about-pic {
        margin-top: 35px;
        display: block;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        

        #box {
            display: flex;
            justify-content: center;
            position: relative;

            img {
                max-width: 100%;
                height: auto;
            }

            &:before {
                content: "";
                position: absolute;
                border: 3px solid black;
                width: 60%;
                height: 99%;
                z-index: -1;
            }
            
            &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url(/images/j_pose_back.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -2;
            }
        }
    }

    #about-text {
        display: flex;
        flex-direction: column; 
        width: 80%;
        padding-top: 20px;   

        h1 {font-size: 1.25em; text-transform: uppercase; letter-spacing: 0.1em;font-weight: bold;}
        h3 {font-size: 1em; padding: 5px 0;letter-spacing: 1px; font-style: italic;}
        p {font-size: 1em; padding: 5px 0; letter-spacing: 1.1px;}
        i {font-style: italic;}
    }
}